<section class="breadcrumb-pagination">
    <a href="#"><img src="assets/Arrowleft.png" alt=""></a>
    <ul class="breadcrumb">
        <li><a href="#">Settings</a></li>
        <li><a href="#">Role Configuration</a></li>
    </ul>
</section>

<section class="role-listing">
    <div class="heading">
        <h2>Role Configuration</h2>
        <div class="new-role-btn">
            <a href="addvendor.html">
                <button class="btn1">+ New Role Access</button>
            </a>
        </div>
    </div>
    <div class="filter">
        <span class="filter-box">
            <a href="#"><img src="assets/Icon.png" alt=""></a>
            <input type="text" placeholder="Select by Feature">
        </span>
    </div>
    <div class="table-content">
        <div class="table-one">                    
            <table class="content-table">
                <caption class="table-name-white">Features</caption>
                <thead>
                    <tr>
                        <th class = "content-table-heading">Vendor</th>
                    </tr>
                </thead>
                <tbody class="content-table-body">
                    <tr class="content-table-rows">
                        <td class="content-table-data">Add Vendor</td>
                    </tr>
                    <tr class="content-table-rows">
                        <td class="content-table-data">Edit Vendor</td>
                    </tr>
                    <tr class="content-table-rows">
                        <td class="content-table-data">Delete Vendor</td>
                    </tr>
                    <tr class="content-table-rows">
                        <td class="content-table-data">View Vendor</td>
                    </tr>
                </tbody>
            </table>                    
            <table class="content-table">
                <thead>
                    <tr>
                        <th class = "content-table-heading">Vendor Checklist</th>
                    </tr>
                </thead>
                <tbody class="content-table-body">
                    <tr class="content-table-rows">
                        <td class="content-table-data">Add Checklist</td>
                    </tr>
                    <tr class="content-table-rows">
                        <td class="content-table-data">Edit Checklist</td>
                    </tr>
                </tbody>
            </table>                 
            <table class="content-table">
                <thead>
                    <tr>
                        <th class = "content-table-heading">Materials</th>
                    </tr>
                </thead>
                <tbody class="content-table-body">
                    <tr class="content-table-rows">
                        <td class="content-table-data">Add Material</td>
                    </tr>
                    <tr class="content-table-rows">
                        <td class="content-table-data">Edit Material</td>
                    </tr>
                    <tr class="content-table-rows">
                        <td class="content-table-data">Delete Material</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="table-two">                  
            <table class="content-table">
                <caption class="table-name-white">User Role</caption>
                <thead>
                    <tr>
                        <th class = "content-table-heading">Supply Chain Manager</th>
                        <th class = "content-table-heading">Role Name goes here</th>
                        <th class = "content-table-heading">Role Name goes here</th>
                    </tr>
                </thead>
                <tbody class="content-table-body">
                    <tr class="content-table-rows">
                        <td class="content-table-data">a</td>
                        <td class="content-table-data">A</td>
                        <td class="content-table-data">A</td>
                    </tr>
                    <tr class="content-table-rows">
                        <td class="content-table-data">E</td>
                        <td class="content-table-data">E</td>
                        <td class="content-table-data">E</td>
                    </tr>
                    <tr class="content-table-rows">
                        <td class="content-table-data">D</td>
                        <td class="content-table-data">D</td>
                        <td class="content-table-data">D</td>
                    </tr>
                    <tr class="content-table-rows">
                        <td class="content-table-data">V</td>
                        <td class="content-table-data">V</td>
                        <td class="content-table-data">V</td>
                    </tr>
                </tbody>
            </table>                    
            <table class="content-table">
                <thead>
                    <tr>
                        <th class = "content-table-heading"></th>
                        <th class = "content-table-heading"></th>
                        <th class = "content-table-heading"></th>
                    </tr>
                </thead>
                <tbody class="content-table-body">
                    <tr class="content-table-rows">
                        <td class="content-table-data">At</td>
                        <td class="content-table-data">A</td>
                        <td class="content-table-data">A</td>
                    </tr>
                    <tr class="content-table-rows">
                        <td class="content-table-data">E</td>
                        <td class="content-table-data">E</td>
                        <td class="content-table-data">E</td>
                    </tr>
                </tbody>
            </table>                 
            <table class="content-table">
                <thead>
                    <tr>
                        <th class = "content-table-heading"></th>
                        <th class = "content-table-heading"></th>
                        <th class = "content-table-heading"></th>
                    </tr>
                </thead>
                <tbody class="content-table-body">
                    <tr class="content-table-rows">
                        <td class="content-table-data">A</td>
                        <td class="content-table-data">A</td>
                        <td class="content-table-data">A</td>
                    </tr>
                    <tr class="content-table-rows">
                        <td class="content-table-data">E</td>
                        <td class="content-table-data">E</td>
                        <td class="content-table-data">E</td>
                    </tr>
                    <tr class="content-table-rows">
                        <td class="content-table-data">D</td>
                        <td class="content-table-data">D</td>
                        <td class="content-table-data">D</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>